*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100%;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-content{
  width: 100%;
  height: auto;
  margin: 8px;
}

.calculator-content{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 16px;
  border: 4px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
